<!-- filter and search -->
 <div class="flex justify-between"> 
  <!-- filter -->
  <div class="flex gap-5">
    <label class="text-lg mx-[30px]" >Filter Category by Name: </label>
    <select class="border-2 rounded-sm" [(ngModel)]="filterByName">
      <option value="">Default</option>
      <option *ngFor="let name of names" [value]="name">{{name}}</option>
    </select>
  </div>
  <!-- search -->
  <div class="flex mr-5">
    <label class="text-lg mx-3">Search category by Name: </label>
    <input
    type="text" 
    class="border-1 mr-2 rounded-l"
    [(ngModel)]="searchByName"
    />
  </div>
  <div class="flex mr-[30px]">
    <button class="bg-blue-700 border-1 px-4 rounded-xl text-white">Add New</button>
  </div>
 </div>
<div class="p-6">
    <table class="min-w-full divide-y divide-gray-200 overflow-x-auto">
    <thead class="bg-gray-50">
      <tr>
        <th
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
            ID
        </th>
        <th
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Category Image
        </th>
        <th
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Category Name
        </th>
        <th
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Is Active
        </th>
        <th
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          created at
        </th>
        <th
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          updated at
        </th>
        <th
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Actions
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngIf="loading">
            <td colspan="7" class="text-center py-6 text-sm text-gray-500">Loading categories...</td>
        </tr>
        <tr *ngIf="error">
            <td colspan="7" class="text-center py-6 text-sm text-red-500">{{ error }}</td>
        </tr>
        <tr *ngIf="!loading && !error && categories?.length===0">
            <td colspan="7" class="text-center py-6 text-sm text-red-500">No Category Available</td>
        </tr>
        <!-- get the data -->
        <tr *ngFor="let category of FilteredCategories()">
            <!-- ID -->
            <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{{category._id}}</div>
            </td>
            <!-- image -->
            <td class="px-6 py-4 whitespace-nowrap">
                 <img 
                    *ngIf="editingCategoryId !== category._id" 
                    [src]="category.image" 
                    alt="Category Image" 
                    class="w-16 h-16 object-cover rounded" />
                <input 
                    *ngIf="editingCategoryId === category._id"
                    type="text" 
                    class="border rounded px-2 py-1 text-sm"
                    [(ngModel)]="categoryProps.image" />
            </td>
            <!-- name -->
            <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900" *ngIf="editingCategoryId !== category._id">
                    {{category.name}}
                </div>
                <input 
                    *ngIf="editingCategoryId === category._id"
                    type="text" 
                    class="border rounded px-2 py-1 text-sm"
                    [(ngModel)]="categoryProps.name" />
            </td>
            <!-- is active -->
            <td class="px-6 py-4 whitespace-nowrap">
                <span [ngClass]="category.isActive ? 'text-green-600' : 'text-red-600'">
                    {{ category.isActive ? 'Active' : 'Inactive' }}
                </span>
            </td>
            <!-- created at -->
            <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{{category.createdAt | date:'medium'}}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{{category.updatedAt| date:'medium'}}</div>
            </td>
            <!-- actions -->
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <button 
                    class="text-blue-600 hover:text-blue-900 mr-2"
                    (click)="startEdit(category)"
                    *ngIf="editingCategoryId !== category._id">
                    Update
                </button>
                <button 
                    class="text-green-600 hover:text-green-900 mr-2"
                    (click)="UpdateCategory()"
                    *ngIf="editingCategoryId === category._id">
                    Save
                </button>
                <button 
                    class="text-gray-600 hover:text-gray-900 mr-2"
                    (click)="cancelEdit()"
                    *ngIf="editingCategoryId === category._id">
                    Cancel
                </button>
                <button 
                    class="text-red-600 hover:text-red-900"
                    (click)="deleteCategory(category._id)">
                    Delete
                </button>
            </td>
        </tr>
        
    </tbody>
    </table>
</div>
